{% trans_default_domain "layout" %}

<h1>
    <a href="{{ path('default_home') }}" title="{{ 'header.backToHome.title' | trans({}) }}">
        {{ 'header.title' | trans({}) }}
    </a>
</h1>

<h2>
    <a href="{{ path('default_home') }}" title="{{ 'header.backToHome.title' | trans({}) }}">
        {{ 'header.baseline' | trans({}) }}
    </a>
</h2>

<nav>
    <ul>
        <li>
            <a href="" title="" {% block currentNews %}{% endblock %}>
                {{ 'header.navigation.news.label'| trans({}) }}
            </a>
        </li>

        <li>
            <a href="" title="" {% block currentWork %}{% endblock %}>
                {{ 'header.navigation.work.label'| trans({}) }}
            </a>
        </li>

        <li>
            <a href="" title="" {% block currentExhibitions %}{% endblock %}>
                {{ 'header.navigation.exhibitions.label'| trans({}) }}
            </a>
        </li>

        <li>
            <a href="" title="" {% block currentPress %}{% endblock %}>
                {{ 'header.navigation.press.label'| trans({}) }}
            </a>
        </li>

        <li>
            <a href="" title="" {% block currentBiography %}{% endblock %}>
                {{ 'header.navigation.biography.label'| trans({}) }}
            </a>
        </li>

        <li>
            <a href="" title="" {% block currentContact %}{% endblock %}>
                {{ 'header.navigation.contact.label'| trans({}) }}
            </a>
        </li>
    </ul>
</nav>