{% extends "::layout.html.twig" %}

{% trans_default_domain "adminWorkAlbum" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pblondeauwork/js/albums.js') }}"></script>
{% endblock %}

{% block body %}
     <div class="row">
        <div class="col-md-10 padding-left">
            <h4>{{ 'list.album.count' | trans({'%numberOfAlbums%': albums.getTotalItemCount}) }}</h4>
        </div>

        <div class="col-md-2 text-right">
            <button class="btn btn-default create-entity"
                    data-action="{{ path('admin_work_albums_create') }}"
                    data-title="{{ 'form.create.title' | trans({})  }}">
                <span class="fa fa-plus"></span>{{ 'list.action.add' | trans({}) }}
            </button>
        </div>
    </div>

    <table id="albums" class="table table-striped table-hover table-sortable">
        <thead>
            <tr>
                <th>{{ 'list.album.header.cover' | trans({}) }}</th>
                <th>{{ 'list.album.header.title' | trans({}) }}</th>
	            <th>{{ 'list.album.header.position' | trans({}) }}</th>
                <th>{{ 'list.album.header.status' | trans({}) }}</th>
                <th>{{ 'list.album.header.creation' | trans({}) }}</th>
                <th>{{ 'list.album.header.actions' | trans({}) }}</th>
            </tr>
        </thead>

        <tbody data-action="{{ path('admin_work_albums_update_positions') }}">
            {% for album in albums %}
                <tr id="entity-{{ album.id }}" data-id="{{ album.id }}"
                        class="{% if album.isStopped %}sortable-disabled{% endif %}">
                    <td class="preview">
                        <span class="fa fa-arrows-v margin-x {% if album.isStopped %}invisible{% endif %}"></span>
                        <img src="{{ asset(album.webPath) }}" class="img-responsive img-thumbnail" alt="" />
                    </td>
                    <td class="title" width="40%">
                        <a class="deploy" href="#" title="{{ album.title }}"
                           data-album-id="{{ album.id }}"
                           data-action="{{ path('admin_work_album_photos_ajax', {'id': album.id}) }}">
                            {{ album.title|truncate(45) }}
                        </a>
                    </td>
	                <td class="position">
		                {{ album.position }}
	                </td>
                    <td>
                        <span class="badge status-{{ album.status }}">
                            {{ ('list.album.body.status.' ~ album.status) | trans({}) }}
                        </span>
                    </td>
                    <td>{{ album.creation|date('d-m-Y') }}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="edit-entity" title="{{ 'list.album.body.action.edit' | trans({}) }}"
                                        data-action="{{ path('admin_work_albums_edit', {'id': album.id}) }}"
                                        data-title="{{ 'form.update.title' | trans({})  }}">
                                    <span class="fa fa-pencil"></span>{{ 'list.album.body.action.edit' | trans({}) }}</a>
                            </li>

                            <li>
                                <button class="btn btn-link" data-toggle="modal" data-target="#delete-modal-{{ album.id }}">
                                    <span class="fa fa-times-circle"></span>{{ 'list.album.body.action.delete' | trans({}) }}
                                </button>

                                <div id="delete-modal-{{ album.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                    {% include "PBlondeauWorkBundle:Album/Admin:deleteModal.html.twig" %}
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="">{{ 'list.album.empty' | trans({}) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginator">
        {{ knp_pagination_render(albums) }}
    </div>

    <div id="save-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>

                <div id="save-form-container"></div>
            </div>
        </div>
    </div>
{% endblock %}
