{% extends '::layout.html.twig' %}

{% block body %}
    <section id="albums">
        {% for album in albums %}
            <article class="album">
                <a href="{{ path('work_album_photos_public_display', {'id': album.id}) }}"
                   title="{{ album.title }}">
                    <img class="img-max-height-fix-lg" src="{{ asset(album.webPath) }}" alt="" />
                </a>

                <div class="title">
                    <a href="{{ path('work_album_photos_public_display', {'id': album.id}) }}"
                       title="{{ album.title }}">
                        <label>{{ album.title|truncate(45) }}</label>
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>

    <div class="paginator">
        {{ knp_pagination_render(albums) }}
    </div>
{% endblock %}