{% extends '::layout.html.twig' %}

{% trans_default_domain "adminBiography" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% if errors is defined %}
            {{ errors }}
        {% endif %}

        <div>
            {{ form_row(form.content) }}
        </div>

        <div>
            {{ form_row(form.file) }}
        </div>

        {{ form_rest(form) }}

        <div class="submits text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times"></span>
                {{ 'form.action.cancel' | trans({}) }}
            </button>

            <button type="submit" class="submit btn btn-primary">
                <span class="fa fa-floppy-o"></span>
                {{ 'form.action.save' | trans({}) }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}