{% trans_default_domain "adminSlideShow" %}

{{ form_start(form) }}
<div class="modal-body">
    {{ form_errors(form) }}

    {% if errors is defined %}
        {{ errors }}
    {% endif %}

    <div>
        {{ form_row(form.file) }}
        {% if not slide.isNew %}
            <div class="row">
                <div class="col-md-offset-4 margin-bottom">
                    <img src="{{ asset(slide.webPath) }}" class="img-responsive img-thumbnail" alt="" />
                </div>
            </div>
        {% endif %}
    </div>

    <div>
        {{ form_row(form.status) }}
    </div>

    {{ form_rest(form) }}
</div>

<div class="submits modal-footer text-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="fa fa-times"></span>
        {{ 'form.modal.action.cancel' | trans({}) }}
    </button>

    <button type="submit" class="submit btn btn-primary">
        <span class="fa fa-floppy-o"></span>
        {{ 'form.modal.action.save' | trans({}) }}
    </button>
</div>
{{ form_end(form) }}